<div class="items">
    <% if (gigs.length > 0) {%> 
    <h2><%= gigs[0].posted_by %>'s gigs.</h2>
    <% for (let gig of gigs) {%>
        <div class="item_preview">
            <section>
                <img src="<%= gig.image_url %>" alt="">
            </section>
            <div class="add_margin">
                <p><a href="/gigs/<%= gig.gig_id %>"><%= gig.title %></a></p>
            </div>
            <section class="details add_margin">
                <span><%= gig.artist %></span>
                <span><%= gig.city %></span>
            </section>
        </div>
    <% } %>
    <% } else {%>
        <h2>This User Hasn't Posted any Gigs sorry.</h2>
    <% } %>
</div>